
<table class="table table-striped">
    <thead>
        <tr>
            <th>#</th>
            <th>Imagem</th>
            <th>Nome</th>
            <th>Tipo</th>
            <th>Capturado</th>
            <th>Excluir</th>
        </tr>
    </thead>
    <tbody>
        @if (Model != null)
        {
            foreach (var item in Model.PokemonList)
            {
                <tr>
                    <td>@item.Id</td>
                    <td><img src="@item.ImagePath.Replace("~/", "/")" style="max-height: 30px;" /></td>
                    <td>@item.Name</td>
                    <td>@item.PokemonType.Description</td>
                    <td>
                        @if (item.CurrentHave)
                        {
                            <span class="glyphicon glyphicon-check btn-toggle-state" data-item-id="@item.Id" data-current-have="@item.CurrentHave" style="cursor:pointer;"></span>
                        }
                        else
                        {
                            <span class="glyphicon glyphicon-unchecked btn-toggle-state" data-item-id="@item.Id" data-current-have="@item.CurrentHave" style="cursor:pointer;"></span>
                        }
                    </td>
                    <td><span class="glyphicon glyphicon-remove btn-delete" data-item-id="@item.Id" style="cursor:pointer;"></span></td>
                </tr>
            }
        }
        else
        {
            <tr>
                <td colspan="6">
                    Nenhum Pokémon localizado
                </td>
            </tr>
        }
    </tbody>
</table>

@if (Model != null)
{
    <ul class="pagination">
        @for (var i = 0; i < Model.PageCount; i++)
        {
            if (Model.Page == i + 1)
            {
                <li class="active"><a href="#">@(i + 1)</a></li>
            }
            else
            {
                <li><a href="#">@(i + 1)</a></li>
            }
        }
    </ul>
}
